nav {
    background-color: #333;
    padding: 10px;
    border: 2px;
    border-color: blue;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Para hacer el menú horizontal */
    justify-content: flex-end; /* Para alinear el contenido a la derecha */
}

nav ul li {
    margin-left: 20px; /* Espacio entre los elementos del menú */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}
/* estilo botones reserva */
.boton-reservar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.boton-contacto {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}