body{
    background-color: #a12929;
    
}
/* estilo menu ---------------*/
nav {
    
    background-color: black;
    padding: 10px;    
    border: 2px solid ;
    border-color: white;
    box-sizing: border-box; /* para que el borde derecho no desaparezca */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    display: flex; /* Para hacer el menú horizontal */
    justify-content: flex-end; /* Para alinear el contenido a la derecha */
    
}
/* separacion entre lo elementos del menu */
nav ul li {
    margin-left: 50px;
    
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    
}

nav ul li a:hover {
    text-decoration: underline;
}
/* Estilo BVDOS JakeStudio contenedores--------- */
#container-1 {
    text-align: center; /* Centra el texto dentro del div */
    margin: 20px; /* Añade un margen alrededor del div */
}
/* estilo contenedor ¿Que ofrecemos? 2---------- */
#container-2 {
    background-color: aliceblue;
    display: flex; /* Habilitar flexbox */
    justify-content: center; /* Alinea los elementos al inicio (izquierda) */
    
    padding: 20px; /* Espaciado interno */
    border: 2px solid #000;

}
/* Estilo  para la sección "¿Qué Ofrecemos?" ---------*/
#section-ofrecemos {
    width: 70%;
    display: flex; /* Habilitar flexbox dentro de la sección */
    align-items: center; /* Alinea verticalmente el h2 y la lista */
    border: 2px solid #000;
}
/* Estilo específico para la sección "¿Qué Ofrecemos?" */
#section-ofrecemos h2 {
    margin-right: 20px; /* Espacio entre el título y la lista */
    padding-left: 50px;
}

/* Estilo de la lista ¿Que ofrecemos?*/
#section-ofrecemos ul {
   
    list-style-type: none; 
   
}

/* lista de ofrecemos index*/
#section-ofrecemos li {
    margin-right: 30px; /* Espacio entre los elementos de la lista en index */
}

/* estilo container crear--------- */
#container-espacio{
    
}
/* estilo container h2+ parrafo centrado  */
#container-titulo-espacio{
    background-color: white;
    text-align: center;
}
/* estilo botones reserva --------------------*/
.boton-reservar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.boton-contacto {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
/* Estilo formulario---------------*/

/* -------------------------*/
/* Estilo foooter------------ */
footer {
    position: fixed;
    bottom: 0;
    background-color: black; /* Color de fondo */
    color: white; /* Color del texto */
    text-align: center; /* Centra el texto */
    padding: 20px; /* Espaciado interno */
    position: relative; /* Permite posicionar elementos dentro del footer */
}